* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: large;
}
body,
html {
  overflow-x: hidden;
  margin: 0;
  background: rgba(7, 44, 44, 0.808);
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 950px;
}
nav {
  display: flex;
  overflow-y: auto;
  white-space: nowrap;
  text-transform: capitalize;
}
p {
  text-transform: capitalize;
  font-weight: bold;
  padding: 27px;
  font-size: 15px;
  text-transform: capitalize;
}

select {
  border-radius: 5px;
  border: 0;
  text-transform: capitalize;
  background: #161616;
  color: whitesmoke;
  text-transform: capitalize;
  padding-left: 10px;
}
option {
  background: #222;
  border: 0;
}
#answer,
#answer2 {
  border-radius: 10px;
  background: #161616;
  text-align: right;
  width: 250px;
  color: whitesmoke;
  text-transform: capitalize;
}
.firstline,
.secondline {
  display: flex;
  gap: 0px;
  height: 100px;
  text-transform: capitalize;
}
.numbers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 60px);
  gap: 11px;
  width: 400px;
  padding: 15px;
  background: #222;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

button,
.spacer {
  font-size: 18px;
  background: #222;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 25px;
}

#ac {
  grid-row: 1 / span 2;
  grid-column: 4;
  background: #333;
  color: #0f0;
  width: 70px;
  border-radius: 15px;
  margin-left: 10px;
  box-shadow: 1px 1px 10px rgb(40, 46, 44);
}

#x {
  grid-row: 3 / span 2;
  grid-column: 4;
  background: #333;
  color: #0f0;
  width: 70px;
  border-radius: 15px;
  margin-left: 10px;
  box-shadow: 1px 1px 10px rgb(41, 48, 46);
}

.spacer {
  visibility: hidden;
}
a {
  color: black;
  text-decoration: none;
  color: whitesmoke;
}
a:hover {
  font-weight: bolder;
  color: #0f0;
}
.all {
  /* position: absolute;
  top: 150px;
  left: 750px; */
  border-radius: 15px;
  background: #161616;
  width: 430px;
  height: fit-content;
  box-shadow: 3px 3px 15px rgb(55, 65, 62);
}
